# Temporary, backup, and autosave files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
*-backups/
**/*-backups/*.zip
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
#auto_saved_files#

# Local project settings (Window positions, active layers, etc.)
*.kicad_prl

# Local Git-based history (KiCad 9.0+)
.history/

# Netlist files (can be regenerated dynamically)
*.net

# Autorouter files
*.dsn
*.ses

# Exported files (Optional: uncomment if you don't want to track them)
# *.xml
# *.csv
# *.tsv

# Manufactured outputs (Optional: ignore your fabrication/Gerber output folders)
# gerbers/
# gbr/
# plots/
